#nav-bar ul li ul{
/* 	display:none; */
	
	float:left; 
	background-color:#f7faef; 
	margin:0px;
	/* padding: 15px 8px; */
	width: 200px;
	
	-moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-delay: 0.1s;
    -webkit-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
}

#nav-bar ul li:hover ul{
 	height: 300px; 
}

#nav-bar ul li ul{
 	height: 0px; 
}


#nav-bar ul li:hover ul li{
 	display: block; 
}

#nav-bar ul li ul li{
 	display: none;
}

.trans-height74{
	height:74px;
}

#nav-bar ul li ul li #korea-2013{
	color: red;
}

#nav-bar ul li ul li #korea-2013:hover > #container div .genius {
	display: block;
}


/********** COLOR **********/
.genius{
	display: none;
	width:110px;
	height:110px;
	background-color:#ECF6ED; /* light green */
}

.gifted{
	display:none;
	width:110px;
	height:110px;
	background-color:#E6F7F5; /* light mint */
}

.average{
	display: none;
	width:110px;
	height:110px;	
	background-color:#F3F1F7; /* light purple */
}

.challenged{
	display:none;
	width:110px;
	height:110px;
	background-color:#FCF9E9; /* light yellow */
}



/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}